  .txtguanggao{width: 100%;overflow: hidden;display: block;box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);}
  .txtguanggao a{width: 16.35%;float: left;border-radius: 3px;line-height: 30px;height: 30px;text-align: center;font-size: 14px;color: #fff;display: inline-block;background-color: rgb(255, 153, 159);margin: 1px;transition-duration: .3s;}
  .txtguanggao a:nth-child(1) {background-color: #FF3366;}
  .txtguanggao a:nth-child(2) {background-color: #66CC00;}
  .txtguanggao a:nth-child(3) {background-color: #33CCFF;}
  .txtguanggao a:nth-child(4) {background-color: #ffab00;}
  .txtguanggao a:nth-child(5) {background-color: #ff00f1;}
  .txtguanggao a:nth-child(6) {background-color: #fb3939;}
  .txtguanggao a:nth-child(7) {background-color: #ff0000;}
  .txtguanggao a:nth-child(8) {background-color: #2b36ff;}
  .txtguanggao a:nth-child(9) {background-color: #00a90a;}
  .txtguanggao a:nth-child(10) {background-color: #00b523;}
  .txtguanggao a:nth-child(11) {background-color: #ff0040;}
  .txtguanggao a:nth-child(12) {background-color: #ff7c00;}
  .txtguanggao a:nth-child(13) {background-color: #3E3E3E;}
  .txtguanggao a:nth-child(14) {background-color: #DC143C;}
  .txtguanggao a:nth-child(15) {background-color: #FF1493;}
  .txtguanggao a:nth-child(16) {background-color: #800080;}
  .txtguanggao a:nth-child(17) {background-color: #0000FF;}
  .txtguanggao a:nth-child(18) {background-color: #1E90FF;}
  .txtguanggao a:nth-child(19) {background-color: #00BFFF;}
  .txtguanggao a:nth-child(20) {background-color: #FF4500;}
  .txtguanggao a:nth-child(21) {background-color: #00FF7F;}
  .txtguanggao a:nth-child(22) {background-color: #32CD32;}
  .txtguanggao a:nth-child(23) {background-color: #4c4c4c;}
  .txtguanggao a:nth-child(24) {background-color: #FFA500;}
  .txtguanggao a:nth-child(25) {background-color: #FF7F50;}
  .txtguanggao a:nth-child(26) {background-color: #696969;}
  .txtguanggao a:nth-child(27) {background-color: #F08080;}
  .txtguanggao a:nth-child(28) {background-color: #DEB887;}
  .txtguanggao a:nth-child(29) {background-color: #F08080;}
  .txtguanggao a:nth-child(30) {background-color: #3e9096;}
  .txtguanggao a:nth-child(31) {background-color: #1e9096;}
  .txtguanggao a:nth-child(32) {background-color: #2e9096;}
  .txtguanggao a:nth-child(33) {background-color: #3e9096;}
  .txtguanggao a:nth-child(34) {background-color: #4e9096;}
  .txtguanggao a:nth-child(35) {background-color: #5e9096;}
  .txtguanggao a:hover{background:#DC3545;color:#FFF}
  @media screen and (max-width: 640px) {.txtguanggao a{width: 32.7%;float: left;border-radius: 3px;line-height: 30px;height: 30px;text-align: center;font-size: 13px;color: #fff;display: inline-block;background-color: rgb(255, 153, 159);margin: 1px;transition-duration: .3s;}}